@import url('../css/css.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f7ecdc;
    color: #3a2a1a;
}

/* =============================== */
/* HEADER */
/* (usa exatamente o mesmo estilo do carrinho) */
/* =============================== */

.site-header {
    background: #6d421f;
    color: white;
    padding: 16px 40px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 22px;
    font-weight: 600;
}

.search input {
    width: 380px;
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.nav-actions {
    display: flex;
    gap: 25px;
    font-size: 17px;
    align-items: center;
}

.nav-actions .icon {
    font-size: 20px !important;   /* Impede que os ícones fiquem gigantes */
}

.title {
    padding: 40px;
    font-size: 32px;
    color: #6d421f;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 40px;
    gap: 40px;
}


.endereco {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 60%;
}

.endereco h3 {
    margin-bottom: 20px;
}

.endereco label {
    font-weight: 600;
    display: block;
    margin: 10px 0 4px;
}

.endereco input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d6c0a8;
    margin-bottom: 10px;
}

.cep-box {
    display: flex;
    gap: 10px;
}

.buscar-cep {
    background: #6d421f;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.linha {
    display: flex;
    gap: 15px;
}


.resumo {
    width: 35%;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    height: fit-content;
}

.resumo h3 {
    margin-bottom: 20px;
}

.item-resumo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.item-resumo img {
    border-radius: 10px;
}

.total-box p {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.total-box .gratis {
    color: green;
    font-weight: bold;
}

.total-box .total {
    font-weight: bold;
    margin-top: 12px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

/* Botão */
.btn-confirmar {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: #6d421f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.btn-confirmar:hover {
    background: #84512a;
}

.logo.small {
    width: 35px;
    height: 35px;
    font-size: 18px;
}
.legal {
    margin-top: 35px;
    text-align: center;
    padding: 20px;
    background: #593518;
}

